<!doctype html>
<html>
<body>
    <div>
        Creacion de un nuevo Melomano
    </div>
    <g:form action="newMelomano">
        Nombre del melomano : <input type="text" name="nombre">
        <br>
        Email del melomano : <input type="text" name="email">
		<br>
		<input type="submit" value="Submit">
    </g:form>
</body>
</html>
