<!doctype html>
<html>
<body>
    <div>
        Creacion de un nuevo Artista
    </div>
    <g:form action="newArtista">
        Nombre del artista : <input type="text" name="nombre">
    </g:form>
</body>
</html>
