<!doctype html>
<html>
<head>
	<g:set var="musica" value="${musica}" />

</head>
<body>
	<h1>${musica.nombre}</h1>
	<br>
	${musica.id}
	<audio controls>
  					<source src="<g:resource dir='audio' file='${musica.nombre}'/>" type="audio/mpeg">
  					
					Your browser does not support the audio element.
				</audio> 

</body>
</html>
