<!doctype html>
<html>
<body>
    <div>
        Hello !
    </div>
    <div>
        Que quieres hacer ?
    </div>
    <div>
        Add new melomano : 

        <a href="/Melomano/newMelomano">link</a>

        </div>
        <div>
            Add new Artista :
            <a href="/Artista/newArtista">link</a>

        </div>
        <div>
            Consultar todos los artistas :
            <a href="/Artista/consultar">link</a>
        </div>
        <div>
            Consultar todos los melomanos :
            <a href="/Melomano/consultar">link</a>
        </div>
</body>
</html>
